@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Foldit&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #ff3eef;
    font-family: 'raleway';
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(105, 0, 97);
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav p {
    font-family: 'bebas neue';
    letter-spacing: 5px;
    font-size: 25px;
    background-color: rgb(105, 0, 97);
    transition: 0.5s;
}

nav p:hover {
    cursor: pointer;
    letter-spacing: 8px;
    transition: 0.5s;
}

.main-box {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    /* margin: 50px 50px;
    margin-right: 150px; */
    margin: auto;
    /* min-width: 50%;
    max-width: 100%;
    flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    /* outline: 1px solid black; */
    /* height: ; */
}

.box {
    display: flex;
    margin: auto;
    padding: 20px 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* outline: 1px solid black; */
}

.box img {
    width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.box #run {
    width: 250px;
    height: 250px;
    padding: 20px 20px;
    background-color: rgb(105, 0, 97);
}

.box #exc {
    width: 300px;
    height: 300px;
}

.box p {
    text-align: justify;
}

.end {
    margin-bottom: 5px;
    font-family: 'raleway';
    font-size: 13px;
    font-weight: 600;
    color: rgb(27, 27, 27);
    text-align: center;
}

.last-box {
    display: flex;
    justify-content: center;
    text-align: center;
}


.center {
    text-align: center;
}

@media only screen and (max-width: 1050px) {
    .main-box {
        flex-direction: column;
    }

    #image {
        order: 1;
    }

    #excer {
        order: 2;
    }
}

@media only screen and (max-width: 700px) {
    #calorie-box {
        font-size: 15px;
    }
}

@media only screen and (max-width: 650px) {
    #calorie-box {
        font-size: 12.5px;
    }

    .last-box img {
        width: 300px;
    }
}

@media only screen and (max-width: 560px) {
    #top-main {
        font-size: 12px;
    }

    .box #run {
        width: 100px;
        height: 100px;
    }

    .last-box img {
        width: 250px;
    }
}

@media only screen and (max-width: 400px) {
    nav p {
        font-size: 17px;
    }

    .last-box img {
        width: 175px;
    }

    /* nav {
        height: 40px;
        width: 96vh;
    } */
}

@media only screen and (max-width: 450px) {
    #top-main {
        font-size: 9px;
    }

    #calorie-box {
        font-size: 9px;
    }

    #excer,
    #food {
        font-size: 9px;
    }

    .box img {
        width: 150px;
        height: 150px;
    }

    .box #exc {
        width: 200px;
        height: 150px;
    }

}

@media only screen and (max-width: 385px) {
    #calorie-box {
        font-size: 7px;
    }

    .end {
        font-size: 9px;
    }

    /* nav {
        height: 40px;
        width: 92vh;
    } */
}


/* 
@media only screen and (max-width: 370px) {
    nav {
        height: 40px;
        width: 89vh;
    }
}

@media only screen and (max-width: 362px) {
    nav {
        height: 40px;
        width: 89vh;
    }
} */